[Unit]
Description=Port forwarding for vpn and qBittorrent
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/portforward.sh
ExecStop=/bin/sh -c 'wg show interfaces | grep -xq wg0 && wg-quick down wg0'
Restart=on-failure

[Install]
WantedBy=multi-user.target
