polkit.addRule(function (action, subject) {
  if (
    action.id === "dk.otnielsen.nix-system-files" &&
    subject.isInGroup("wheel")
  ) {
    return polkit.Result.YES;
  }
});
