<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN" "/usr/share/polkit-1/policyconfig-1.dtd">

<policyconfig>
  <action id="dk.otnielsen.gamemode-epp">
    <description>Set epp to balance-performance</description>
    <message>Authentication is required to modify the energy performance preference</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/gamemode-epp.sh</annotate>
  </action>
</policyconfig>
