[Unit]
Description=Port forwarding for vpn and qBittorrent

[Service]
Type=exec
ExecStart=/usr/local/bin/portforward.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
