polkit.addRule(function (action, subject) {
  if (
    action.id === "org.scx.loader.manage-schedulers" &&
    subject.isInGroup("gamemode")
  ) {
    return polkit.Result.YES;
  }
});
